#blockpage {
  border: 1px solid #333;
  border-radius: 3px;
  background-color: #d0edfc;
  margin: 0 auto;
  padding: 10px;
  padding-top: 0;
  width: 80%;
  overflow: auto;
}

h2 {
  font-size: 20px;
  color: #333;
  text-align: center;
}

#blockpage .case1, #blockpage .case2, #blockpage .case3 {
  margin: 5%;
  padding: 5%;
  width: 25%;
  border: 1px dotted #333;
}

#blockpage .case1 {
  float: left;
}

#blockpage .case2 {
  float: right;
}

#blockpage .case3 {
  clear:both;
}

#blockpage a {
  background: none;
}

.image {
  display: inline-block;
}

.image span {
  visibility: hidden;
}

.image img:hover + span {
  visibility: visible;
  border: 1px solid #333;
  background-color: green;
}
