{% extends "squelette.html" %}

<!-- style propre à cette page -->
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="styleCB.css") }}" />
{% endblock %}

<!-- page avec messages (connecté) -->
{% block page %}
  <br>
  <!-- bouton refresh -->
  <div class="refresh">
    <a href="{{ url_for('home', action="") }}">Rafraichir</a>
  </div>

  <!-- sépare chatbox et menu chatbox -->
  <div class="clear"></div>
  <center><i>Cliquez sur un pseudo pour contacter la personne en privé.</i></center>
  <!-- chatbox -->
  <div id="chatbox">

    <!-- conteneur messages -->
    <div class="box">
      {% for message in messages %}
          <!-- tableau message[x] avec même ordre que selection dans bdd
               [0] -> id (du message)
               [1] -> user_id (qui a posté le message)
               [2] -> message
               [3] -> timestamp
               [4] -> suppr
               [5] -> username
               [6] -> txt_color
               [7] -> grade
               [8] -> ban
          -->

          <!-- 0 pour simple utilisateur -->
          {% if message[7] == 0 %}
            <span style="font-weight: bold; color: #374185;">
              {% if session["grade"] == 1 %}
                {% if message[4] == 0 %}
                  <a href="{{ url_for('admin', action='deleteMess', action_id=message[0]) }}" style="color: red;">[x]</a>
                {% endif %}
              {% endif %}
              <a href="{{ url_for('private', action=message[1]) }}">{{ message[5] }}</a> [{{ message[3] }}] :
            </span>
            {% if message[4] == 0 and message[8] == 0 %}
              <span style="color:{{ message[6] }};">{{ message[2] }}</span><br>
            {% else %}
              <span style="color:#555; font-style: italic;">[Ce message a été supprimé par un administrateur ou l'utilisateur a été banni.]</span><br>
            {% endif %}
          <!-- 1 pour administrateur -->
          {% elif message[7] == 1 %}
            <span style="font-weight: bold; color: #cc0000;">
              {% if session["grade"] == 1 %}
                {% if message[4] == 0 %}
                  <a href="{{ url_for('admin', action='deleteMess', action_id=message[0]) }}" style="color: red;">[x]</a>
                {% endif %}
              {% endif %}
              <a href="{{ url_for('private', action=message[1]) }}">{{ message[5] }}</a> [{{ message[3] }}] :
            </span>
            {% if message[4] == 0 and message[8] == 0 %}
              <span style="color:{{ message[6] }};">{{ message[2] }}</span><br>
            {% else %}
              <span style="color:#555; font-style: italic;">[Ce message a été supprimé par un administrateur ou l'utilisateur a été banni.]</span><br>
            {% endif %}
          {% endif %}
      {% endfor %}
      <br>
    </div>

    <!-- conteneur pour le formulaire (class="text" dans textarea) -->
    <form method="post" action="{{ url_for('home', action='sendMess') }}">
      <textarea class="text" name="message" placeholder="Ecrivez votre message..."></textarea>
      <input class="submit" type="submit" value="Envoyer" />
    </form>
  </div>
{% endblock %}
